<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<body>
<div layout:fragment="content">

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-md-12">
                <div class="card shadow-sm border-success">
                    <div class="card-header bg-success text-white text-center">
                        <h2>게시판 목록</h2>
                    </div>
                    <div class="card-body">
                        <div class="d-grid mt-4">
                            <div class="text-center">
                               <form action="/board/find" method="get">
                                   내용검색 <input name="find">
                                   <button type="submit" class="btn btn-success">검색</button>
                               </form>
                            </div>
                        </div>
                        <table class="table table-bordered  table-hover" style="background-color: #f9f9f9;">
                            <thead class="bg-warning text-white">
                            <tr  class="text-center">
                                <th scope="col">번호</th>
                                <th scope="col">제목</th>
                                <th scope="col">작성자</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="boardVO : ${list}">
                                <td th:text="${boardVO.no}"  class="text-center"></td>
                                <td>
                                    <a th:href="@{/board/read(no=${boardVO.no})}" style="text-decoration: none;">
                                        [[${boardVO.title}]]
                                    </a>
                                </td>
                                <td th:text="${boardVO.writer}"  class="text-center"></td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="d-grid mt-4" th:if="${session.id != null}">
                            <a href="/board/create" class="btn btn-secondary btn-lg">새 게시글 작성</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
