<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<body>
<div layout:fragment="content">
    <div th:if="${session.id != null}">
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-lg-10 col-md-12">
                    <div class="card shadow-sm border-success">
                        <div class="card-header bg-success text-white text-center">
                            <h2>장바구니 목록</h2>
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered table-hover" style="background-color: #f9f9f9;">
                                <thead class="bg-warning text-white">
                                <tr class="text-center">
                                    <th scope="col">
                                        <input type="checkbox" id="selectAll" onclick="toggleSelectAll()"> 전체 선택
                                    </th>
                                    <th scope="col">장바구니 번호</th>
                                    <th scope="col">회원 ID</th>
                                    <th scope="col">회원 이름</th>
                                    <th scope="col">전화번호</th>
                                    <th scope="col">상품 번호</th>
                                    <th scope="col">상품 이름</th>
                                    <th scope="col">상품 가격</th>
                                    <th scope="col">수량</th>
                                    <th scope="col" colspan="2"></th>
                                </tr>
                                </thead>
                            <tbody>
                            <tr th:each="cart : ${carts}">
                                <td>
                                   <input type="checkbox" th:value="${cart.no}">
                                </td>
                                <td>[[${cart.no}]]</td>
                                <td>[[${cart.memberId}]]</td>
                                <td>[[${cart.memberName}]]</td>
                                <td>[[${cart.memberTel}]]</td>
                                <td>[[${cart.productId}]]</td>
                                <td>[[${cart.productName}]]</td>
                                <td>[[${cart.productPrice}]]</td>
                                <td>
                                    <!-- 반복문으로 만들어진 input의 데이터를 가지고 오려면
                                        유니크한 아이디를 생성해주어야 자바스크립트에서
                                        해당하는 input의 값을 가지고 올 수 있다.!
                                    -->
                                    <input type="number"
                                           th:id="'count' + ${cart.no}"
                                           th:value="${cart.count}">
                                </td>
                                <td>
                                    <button class="btn btn-outline-dark"
                                            th:data-no = "${cart.no}"
                                            th:data-count = "${cart.count}"
                                            onclick="updateCount(this)">수정</button>
                                </td>
                                <td>
                                    <button class="btn btn-outline-dark"
                                            th:data-no = "${cart.no}"
                                            onclick="deleteProduct(this)">삭제</button>
                                </td>
                            </tr>
                            </tbody>


                            </table>
                            <div class="d-flex justify-content-between mt-4">
                                <button class="btn btn-secondary btn-lg"
                                        onclick="deleteProducts()">선택상품 삭제</button>
                                <a href="/product/product"
                                   class="btn btn-secondary btn-lg">상품페이지로</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:if="${session.id == null}">
        <script>
            alert("로그인이 필요합니다. 로그인 화면으로 이동합니다.");
            location.href = "/member/member";
        </script>
    </div>
</div>
</body>
<th:block layout:fragment="script">
    <script>
        function deleteProduct(button) {
           // DELETE FROM cart
           // WHERE no = #{no}
           // th:data-no = "${cart.no}"
            const no = button.dataset.no;
            alert(no);
            axios.post("/cart/delete", {
                no: no
            }).then(function (response) {
                if(response.data){
                    alert("삭제되었습니다.");
                    location.reload();//페이지 다시 불러오기
                }
            }).catch(function (error) {
                console.log(error);
            });
        };
        function updateCount(button) {
            // UPDATE cart
            // SET count = #{count}
            // WHERE no = #{no}
            const no = button.dataset.no;
            const count = document.getElementById("count" + no).value;
            alert(no +  " " + count);
            axios.post("/cart/update", {
                no: no,
                count: count
            }).then(function (response) {
                if(response.data){
                    alert("수정되었습니다.");
                    location.reload();//페이지 다시 불러오기
                }
            }).catch(function (error) {
                console.log(error);
            });
        };
    </script>
</th:block>
</html>