<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.spring4.reply.dao.ReplyMapper">
    <!--    MemberMapper.java와 연결이 됨.-->

    <insert id="insertReply"
            parameterType="replyVO">
        INSERT INTO reply(oriid, content, writer)
        VALUES (#{oriid}, #{content}, #{writer})
    </insert>

    <update id="updateReply"
            parameterType="replyVO">
        UPDATE reply
        SET content = #{content}
        WHERE id = #{id}
    </update>

    <delete id="deleteReply"
        parameterType="int">
        DELETE
        FROM reply
        WHERE id = #{id}
    </delete>

    <select id="getReplyByBbsNo"
            parameterType="int"
            resultType="replyVO">
        SELECT *
        FROM reply
        WHERE oriid = #{oriid}
        <!-- 게시판 번호에 해당하는 댓글 리스트 검색 -->
    </select>
</mapper>